* {
text-align: center;
    font-family: verdana;
    color: #E6E6E6;
}

body {
    background-color: #04B4AE;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.outer {
 	position: relative;
}

.inner {
	position: absolute;
  	top: 40%; left: 40%;
  	transform: translate(-30%,-50%);
}

h2 {
  padding: 30px;
}

img {
  max-width: 20%;
    height: auto;
    display: block;
    padding-top: 20px;
    margin: auto;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
}

i {
  padding-top: 60px;
  padding-left: 10px;
  color: #E6E6E6;
}

.img-circle {
    border-radius: 50%;
}
