body {
    background-color: #04B4AE;
}

#outer {
 	position: relative;
}

#inner {
	position: absolute;
  	top: 40%; left: 40%;
  	transform: translate(-30%,-50%);
}

h1 {
	text-align: center;
    font-family: verdana;
    color: #E6E6E6;
}

h3 {
	text-align: center;
    font-family: verdana;
    color: #E6E6E6;
}

h2 {
  text-align: center;
  font-family: verdana;
  color: #E6E6E6;
  padding: 30px;
}

img {
  max-width: 20%;
    height: auto;
    display: block;
    padding-top: 50px;
    margin: auto;
    opacity: 0.85;
}

